<div>
   <a routerLink="/home" class="btn btn-sm btn-dark mb-3 mt-3" >Back</a>
<h2 style="margin-left: 500px;">About Us</h2>

   <img src="https://i.postimg.cc/CLVZtp9J/about-us-page-examples-1-61fd8f9784626-sej-760x400.webp" style="height: 500px; width: 1000px; margin-left: 25px;" alt="">

   <p>
    <strong>We have a unique selection of apartments, flats, and villas that will meet your needs and complement your lifestyle. We are one of Kerala's premier home builders,<br> having completed several projects on time and within budget.<br> Choosing us means you're choosing an asset for generations to come</strong>
   </p>

</div>
